<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>確認画面</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"
      aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">確認画面</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" th:href="@{/index}">トップ</a></li>
        <li class="nav-item active"><a class="nav-link" th:href="@{/customer/regist/}">新規登録</a></li>
        <li class="nav-item active"><a class="nav-link" th:href="@{/customer/list/}">一覧</a></li>
      </ul>
    </div>
  </nav>
  <form action="#" th:action="@{/customer/save}" th:object="${customer}" method="post">
    <p th:text="'ID：' + ${customer.id}" />
    <p th:text="'顧客名：' + ${customer.name}" />
    <input type="hidden" th:field="*{id}"> <input type="hidden" th:field="*{name}">
    <button th:if="${customer.id} == null" type="submit" class="btn btn-primary">登録</button>
    <button th:if="${customer.id} != null" type="submit" class="btn btn-primary">更新</button>
  </form>
</body>
</html>