<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>編集画面</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"
      aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">編集画面</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" th:href="@{/index}">トップ</a></li>
        <li class="nav-item active"><a class="nav-link" th:href="@{/customer/regist/}">新規登録</a></li>
        <li class="nav-item active"><a class="nav-link" th:href="@{/customer/list/}">一覧</a></li>
      </ul>
    </div>
  </nav>
  <form action="#" th:action="@{/customer/confirm}" th:object="${customer}" method="post">
    <div class="col-sm-8">
      <div class="form-group">
        <p>更新する顧客情報を入力してください。</p>
        <input type="hidden" th:field="*{id}" />
        <label for="name">名前 <span class="badge badge-danger">必須</span></label>
        <input type="text" id="name" class="form-control" placeholder="(例) 山田　太郎" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
      </div>
      <button type="submit" class="btn btn-primary">確認</button>
    </div>
  </form>
</body>
</html>