<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('一覧')">
</head>

<body>
  <div th:replace="fragments/layout :: navbar"></div>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th width="10%">ID</th>
        <th width="80%">名前</th>
        <th width="10%">削除</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="customer:${customer}">
        <td th:text="${customer.id}"></td>
        <td>
          <a th:text="${customer.name}" th:href="@{/customers/{id}/update/(id=${customer.id})}">
          </a>
        </td>
        <td>
          <a th:href="@{/customers/{id}/delete/(id=${customer.id})}" onClick="return window.confirm('削除してよろしいですか？')">
            <i class="far fa-trash-alt fa-lg" aria-hidden=”true”></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
